@tailwind base;
@tailwind components;
@tailwind utilities;

.typed-cursor {
  @apply text-[48px] text-[#FF7043];
  animation: blink 0.8s infinite;
}


@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

